<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing position</h1>

    <%= render "shared/modal", model: @position, title: "Изменение" %>

  <%= link_to "Back to positions", department_position_path(@department), class: "ml-2 rounded-lg py-1 px-2 bg-gray-100 inline-block font-medium" %>
</div>
