<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Редактирование персональных данных</h1>

  <%= render "form", personal_datum: @personal_datum %>

  <%= link_to "Назад", employee_path(@employee), class: "ml-2 rounded-lg py-2 px-3 bg-gray-100 hover:bg-gray-200 inline-block font-medium" %>
</div>
