<div class="mx-auto md:w-2/3 w-full">
  <fieldset class="border border-solid shadow rounded-lg border-gray-300 p-5">
    <legend class="font-bold px-3">Добавление отделения</legend>
      <%= render "shared/modal", model:@department, title: "Добавление отделения" %>
  </fieldset>
</div>
